
<!-- TODO: add All/Active/Inactive filter here -->
<div>
    <h2>Extensions List</h2>
    <button (click)="toggleAll()">All</button>
    <button (click)="filterActive()">Active</button>
    <button (click)="filterInactive()">Inactive</button>
</div>

<ul *ngFor="let extension of tempExtensions">
    <img src="{{extension.logo}}">
    <span class="name">{{extension.name}}</span>
    <span class="desc">{{extension.description}}</span>
    <span class="button"><button>Remove</button></span>
    <span class="name">Active: </span>
    <label class="switch"><input type="checkbox" [checked]="extension.isActive" (click)="toggleStatus(extension)"><span class="slider round"></span></label>
    <!-- <span class="active">{{extension.isActive}}</span> -->
</ul>