.ext-header {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.ext-toggles {
  display: flex;
  justify-content: flex-end;
  flex: 0;
  padding-bottom: 20px;
  top: 25px;
  gap: 15px;
}

@media screen and (min-width: 551px) {
  .ext-header {
    justify-content: space-between;
  }

  .ext-toggles {
    position: relative;
  }
}

.ext-toggles button {
  font-family: NotoSansMedium;
  font-size: medium;
  text-align: center;
  color:hsl(226, 25%, 17%);
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 32px;
  cursor: pointer;
  border-radius: 20px;
  background-color: hsl(200, 60%, 99%);
  box-shadow: 2px 2px 5px hsl(217, 61%, 90%);
  border: none;
}

/* .ext-toggles + .ext-toggles .button {
  padding: 5px;
} */

.ext-toggles button:hover {
  outline: 2px solid hsl(3, 71%, 56%);
  outline-offset: 2px;
}

/* dont need this id using active */
.ext-toggles button:focus {
  border: none;
  background-color: hsl(3, 71%, 56%);
  color: hsl(200, 60%, 99%);
}

.ext-toggles button.active {
  background-color: hsl(3, 71%, 56%);
  color: hsl(200, 60%, 99%);
}

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px auto; 
    gap: 1rem;
    justify-content: space-evenly;
  }
}

@media (min-width: 1100px) {
  .grid {
    display: grid;
    grid-template-columns: 350px auto auto;
    grid-template-rows: auto auto auto; 
    gap: 1rem;
    row-gap: 0.001rem;
    justify-content: space-evenly;
  }
}

.card {
  display: flex;
  align-content: flex-start;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: hsl(200, 60%, 99%);
  box-shadow: 2px 2px 5px hsl(217, 61%, 90%);
  justify-content: space-between;
  flex-direction: column;
}

.card img {
  position: relative;
}

.card-content {
  display: flex;
}

.card .text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card .name {
  font-size: larger;
  color:hsl(226, 25%, 17%);
}

.card .desc {
  font-family: NotoSansVariable;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card button {
  font-family: NotoSansRegular;
  color: hsl(226, 25%, 17%);
  border: 1px solid hsl(0, 0%, 78%);
  border-radius: 20px;
  background-color: hsl(200, 60%, 99%);
  box-shadow: 2px 2px 5px hsl(217, 61%, 90%);
  padding: 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: hsl(0, 0%, 78%);
  outline: 2px solid hsl(3, 71%, 56%);
  outline-offset: 2px;
}

.card button:focus {
  background-color: hsl(0, 0%, 78%);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(3, 71%, 56%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(3, 71%, 56%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider:hover {
  transition: none;
  outline: 2px solid hsl(3, 71%, 56%);
  outline-offset: 2px;
}
