<div class="ext-header">
    <h1>Extensions List</h1>
    <span class="ext-toggles">
        <button (click)="toggleFilter('all')" autofocus>All</button>
        <button (click)="toggleFilter('active')">Active</button>
        <button (click)="toggleFilter('inactive')">Inactive</button>
    </span>
</div>

<div class="grid">
    <ul *ngFor="let extension of displayedExtensions" class="card">
        <img [src]="extension.logo">
        <span class="name">{{extension.name}}</span>
        <span class="desc">{{extension.description}}</span>
        <span class="button" (click)="removeExtension(extension)"><button>Remove</button></span>
        <label class="switch"><input type="checkbox" [checked]="extension.isActive" (click)="toggleStatus(extension)"><span class="slider round"></span></label>
    </ul>
</div>