/* colors */


/* background */
body {
    background: s;
}

/* Fonts */
@font-face {
    font-family: NotoSansBold;
    src: url('../assets/fonts/static/NotoSans-Bold.ttf');
}

@font-face {
    font-family: NotoSansRegular;
    src: url('../assets/fonts/static/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NotoSansMedium;
    src: url('../assets/fonts/static/NotoSans-Medium.ttf');
}


@font-face {
    font-family: NotoSansItalic;
    src: url('../assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: NotoSansVariable;
    src: url('../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf');
}

h1 {
    font-family: NotoSansBold;
}

h2 {
    font-family: NotoSansMedium;
}

h3 {
    font-family: NotoSansItalic;
}

h4 {
    font-family: NotoSansVariable;
}

p {
    font-family: NotoSansRegular;
}
